USE [master]
GO
/****** Object:  Database [JobPortalDB]    Script Date: 07-08-2025 16:20:58 ******/
CREATE DATABASE [JobPortalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobPortalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JobPortalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobPortalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JobPortalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobPortalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobPortalDB]
GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 07-08-2025 16:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[ApplicantName] [nvarchar](100) NOT NULL,
	[ApplicantEmail] [nvarchar](100) NOT NULL,
	[ResumeFileName] [nvarchar](255) NULL,
	[CoverLetter] [nvarchar](max) NULL,
	[AppliedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 07-08-2025 16:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[Salary] [decimal](18, 2) NULL,
	[JobType] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](100) NULL,
	[ContactEmail] [nvarchar](100) NOT NULL,
	[PostedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobApplications] ON 

INSERT [dbo].[JobApplications] ([ApplicationId], [JobId], [ApplicantName], [ApplicantEmail], [ResumeFileName], [CoverLetter], [AppliedDate]) VALUES (1, 1, N'Abhishek Tripathi', N'abhishek.tripathi.12309@gmail.com', N'Abhishek  resume-f3e32112-b39c-498a-bae0-784bae63c9c4.pdf', N'I am perfect candidate for this job', CAST(N'2025-08-07T14:40:00.647' AS DateTime))
INSERT [dbo].[JobApplications] ([ApplicationId], [JobId], [ApplicantName], [ApplicantEmail], [ResumeFileName], [CoverLetter], [AppliedDate]) VALUES (3, 1, N'Vikram Yadav', N'vikram@gmail.com', N'Abhishek  resume-fcaaf639-d186-470c-9199-b32527542277.pdf', N'hi', CAST(N'2025-08-07T15:22:13.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[JobApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobId], [Title], [Description], [Location], [Salary], [JobType], [CompanyName], [ContactEmail], [PostedDate]) VALUES (1, N'Software developer', N'.Net developer ', N'Noida', CAST(7000000.00 AS Decimal(18, 2)), N'Full time', N'Flexion', N'abhishek.tripathi5432@gmail.com', CAST(N'2025-08-07T14:32:53.000' AS DateTime))
INSERT [dbo].[Jobs] ([JobId], [Title], [Description], [Location], [Salary], [JobType], [CompanyName], [ContactEmail], [PostedDate]) VALUES (3, N'Manual Testing', N'You have to manual test every website and every code.', N'Banglore', CAST(50000.00 AS Decimal(18, 2)), N'Full time', N'Google', N'Google@gmail.com', CAST(N'2025-08-07T15:06:22.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [PostedDate]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
USE [master]
GO
